<h1>Good News {{ user.name }} !</h1>

<p>
    Votre demande pour devenir Vendeur sur notre plateforme a été effecuée. Vous serez informé dans les 7 prochains jours par email dès que votre demande sera acceptée. 
</p>

<p>
    -L'équipe My Little Poacher
</p>