<h1>Good News {{ user.name }}!</h1>
<p>
    Your request to become a Seller on our platform has been received. You will be notified by email within the next 7 days once your request has been accepted.
</p>
<p>
    -The My Little Poacher Team
</p>