<h1>Bad News {{ user.name }} </h1>
<p>
    A bid has been placed on top of yours for this auction :  <br>
    {{ bid.title }}<br>
    Come and claim what's rightfully yours, and win the auction!
</p>
<p>
    -The My Little Poacher Team
</p>