<h1>Bad News {{ user.name }} </h1>
<p>
    You are now in the lead for the auction :  <br>
    {{ bid.title }}<br>
    Stay tunned for more updates on the auction.
</p>
<p>
    -The My Little Poacher Team
</p>