<h1>Good News {{ user.name }} !</h1>

<p>
    Vous souhaitiez devenir vendeur et vous avez été entendu.
    Bienvenue parmis nous ! Vous pouvez dés à présent mettre en vente vos biens. 
</p>

<p>
    -L'équipe My Little Poacher
</p>