<h1>Good News {{ user.name }}!</h1>
<p>
    You wanted to become a seller and your request has been approved. <br>
    Welcome aboard! You can now start selling your goods.
</p>
<p>
    - The My Little Poacher Team
</p>